    /* ---- Basic elements ---- */

body
    {
    margin: 0;
    text-align: center;
    background-color: black;
    }

#Game-canvasContainer
    {
    position: relative;
    }

#Game-canvasContainer canvas:first-child
    {
    background-color: white;
    }

.Game-Canvas:not(:first-child)
    {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    }

    /* ---- Menu ---- */

.Game-Container
    {
    color: white;
    }

.Game-Button, .Game-Boolean, .Game-MultipleOptions
    {
    cursor: pointer;
    color: green;
    }

.Game-MultipleOptions span
    {
    margin: 5px;
    }

.Game-selected
    {
    color: red;
    }

.Game-inactive
    {
    cursor: default;
    color: gray;
    }


    /* ---- Message ---- */

.Game-Message-container
    {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: aliceblue;
    color: black;
    }

.Game-Message-container .Game-Button
    {
    background-color: cornflowerblue;
    color: aliceblue;
    }

.Game-Message-Components
    {
    margin-top: 10px;
    text-align: right;
    }

.Game-Message-Components > *
    {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 5px;
    }